WIP/circle-detection
/WIP/EJB/EJBTutorial/BasicOperationsEJBClient/build/
/WIP/EJB/AnotherTest/EJBComponent/nbproject/private/
/WIP/EJB/AnotherTest/EJBComponent/build/
/WIP/EJB/AnotherTest/EJBComponent/dist/
/WIP/EJB/AnotherTest/EJBTester/nbproject/private/
/WIP/EJB/AnotherTest/EJBTester/build/